.search,
.search-result {
  width: 361px;
}

.search {
  position: relative;
  width: 361px;
  height: 46px;
  padding-left: 16px;
  border-radius: 92px;
  display: flex;
  background-color: rgba(22, 24, 35, 0.06);
  border: 1.5px solid transparent;

  input {
    flex: 1;
    font-size: 1.6rem;
    color: var(--black);
    height: 100%;
    background-color: transparent;
    caret-color: var(--primary-color);
  }

  input:not(:placeholder-shown) ~ .search-btn {
    color: rgba(22, 24, 35, 0.75);
  }

  &::after {
    content: "";
    position: absolute;
    height: 28px;
    width: 1px;
    top: 9px;
    right: 52px;
    background-color: rgba(22, 24, 35, 0.12);
  }

  &:focus-within {
    border-color: rgba(22, 24, 35, 0.2);
  }
}

.search-title {
  padding: 5px 12px;
  font-size: 1.4rem;
  font-weight: 600;
  color: rgba(22, 24, 35, 0.5);
}

.clear,
.spinner {
  position: absolute;
  right: 68px;
  top: 50%;
  transform: translateY(-50%);
  color: rgba(22, 24, 35, 0.34);
  cursor: pointer;
}

.spinner {
  animation: Spinner 0.8s linear infinite;
}

@keyframes Spinner {
  from {
    transform: translateY(-50%) rotate(0);
  }
  to {
    transform: translateY(-50%) rotate(360deg);
  }
}

.search-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 52px;
  height: 100%;
  border-top-right-radius: 92px;
  border-bottom-right-radius: 92px;
  font-size: 1.8rem;
  color: #a29c9c;

  &:hover {
    cursor: pointer;
    background-color: rgba(22, 24, 35, 0.03);
  }

  &:active {
    background-color: rgba(22, 24, 35, 0.06);
  }
}
